{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "experimental": {
      "keepImportAssertions": true
    },
    "parser": {
      "syntax": "typescript",
      "importAssertions": true
    },
    "target": "esnext"
  },
  "minify": true,
  "sourceMaps": true
}
