on:
  push:
    branches: main

name: release-please

jobs:
  release-please:
    if: github.repository_owner == 'arpabot'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}
      tag_name: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee # v4.1.1
        id: release-please
        with:
          config-file: .github/release-please/release-please-config.json
          manifest-file: .github/release-please/.release-please-manifest.json
          skip-github-pull-request:
            ${{ startsWith(github.event.head_commit.message, 'release:') &&
            github.event.head_commit.author.name == 'github-actions[bot]' }}
